<?xml version="1.0"?>
<robot name="scene">
  
  <link name="world"/>

  <link name="scene_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="scene.obj" scale="0.74 0.74 0.74"/>
      </geometry>
      <material name="scene_material">
        <color rgba="0.3 0.7 0.9 0.5"/>
      </material>
    </visual>

    <collision name="scene_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="sequence_07.obj" scale="0.74 0.74 0.74"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/> 
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <joint name="world_to_scene" type="fixed">
    <parent link="world"/>
    <child link="scene_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
